// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
	// background-color: #272C2F;
}
.main-body {
	@media screen and (min-width: 320px) {
		background-image: image-url('smallmobilebackground.jpg');
	}	
	@media screen and (min-width: 900px) {
		background-image: image-url('mobilebackground.jpg');
	}	
	@media screen and (min-width: 1280px) {
		background-image: image-url('background.jpg'); 
	}
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
}

.main {
	
	position: fixed;
	height: 100%;
	width: 100%;
	right: 0px;
}

.helper-right {
	float: right;
	display: table; 
	position: relative;
	top: 100px;

	@media only screen and (max-width:480px) {
		top: 50px;
	}

	.sign_up_flash {
		top: 150px;
		width: 225px;
		background-color: #000;
	}

	.form {
		padding:1px;
		display: inline;

		.motto {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 5em;
			letter-spacing: 3px;
			color: #fff;
			line-height: 1em;
			@media only screen and (max-width:960px) {
				font-size: 3em;
			}
		}
		.signuptoday {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 1.4em;
			letter-spacing: 3px;
			color: #fff;
			margin-top: 1em;
			@media only screen and (max-width:960px) {
				font-size: 1.4em;
				font-weight: 300;
			}

		}

		.form-control {
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			letter-spacing: 2px;
			font-size: 15px;
			padding-left:15px;
			height: 37px;

			float:left;
			width:15em;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.75);
			border-color: transparent; 

			&:focus {
				color:#000;
			}

			@media only screen and (max-width:480px) {
				width:10em;
			}
		}

		.form-go {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			height: 37px;
			letter-spacing: 3px;
			font-size: 17px;

			margin-left: 15px;
			border-radius: 10px;
			background-color: rgba(138, 182, 167, 1);
			color: #ffffff;

			&:hover {
				background-color: #436875;
			}
		}
	}
}


.btn-primary {
	background-color: #000;
}
