// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
	background-image: image-url('mainbackground.jpg'); 
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	@media (max-width: 1080px) {
		background-image: image-url('mobilebackground.jpg');
	}

	@media (max-width: 640 px) {
		background-image: image-url('smallmobilebackground')
	}
}

.right-col {
	position: fixed;
	width: 30%;
	height: 100%;
	background-color: transparent !important;
	left: 0px;
	display: table;
	opacity: 0.0;
}

.helper-right {
	position: relative;
	width: 30%;
	height: 100%;
	left: 0px;
	display: table; 
	
	.sign_up_flash {
		top: 150px;
		width: 50px;
		background-color: #000;
	}

	.form {
		top: 325px;
		padding:5px;
	}
}


.btn-primary {
	background-color: #000;
}
