/* imports */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

/* mixins, variables, etc. */
// Used to style debugger
@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* Header styling */
.logo {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.7em;
	letter-spacing: 4px;
	color: #fff;
	margin: 13px 0px 0px 13px;
}
.navbar {
	// background-color: #262A;
	border-color: transparent;
	height: 3em !important;
	background-color: rgba(138, 182, 167, .8);
}

.nav.navbar-nav li a{
	color: #fff;
	padding: 20px;

	&:hover {
		color: #ccc;
	}	
}

.navbar-right {
	margin-right: 2em;
}
/* Body styling */


/* miscellaneous */

// .debug_dump {
// 	clear: both;
// 	float: left;
// 	width: 100%;
// 	margin-top: 45px;
// 	@include box_sizing;
// }