<%= form_for(@email) do |f| %>
<div class = "flex-form">
  <div class="form-group">
		<%= f.text_field :email, required: true, placeholder: "email address",  class: "index-form", autocomplete: 'off'%>
	</div>

  <div class = "form-submit">
    <button class = "btn-sm">next</button>
  </div>
</div>
<% end %>
