<% @title = "Demere" %>
<% provide(:title, 'Sign up') %>


<div class = "wrapper">

  <!--  Home Section-->

  <div id = "homeheader">
    <div class = "home-top-bar">
      <span class = "homeheaderlogo">demere</span>
    </div>
    <div class = "hometitle">
      <p>DRESS WITH CONFIDENCE</p>
    </div>

    <div class = "signupcontain">
      <div class = "homesignup">
        <div class = "signupbox">
        </div>
        <div class = "signupcontent">
          <div class = "loginhead">
            <p class = "loginboxhead head">Sign up</p>
            <p class = "loginboxhead">for our beta version today! </p>
            <% flash.each do |message_type, message| %>
            <div class="alert <%= message_type %>"><p><%= message %></p></div>
            <% end %>
          </div>
          <div class = "signupform">
            <%= render 'signup' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Description Section-->

  <div id = "homeinfo">
    <div class = "homeinfocontain">
      <div class = "infosection">
        <h1 class = "infohead">Build Your Closet</h1>
        <p class = "infobody"> Take pictures of your clothing and accessories and upload them to your virtual closet. </p>
      </div>
      <div class = "infosection infoleft">
        <h1 class = "infohead">Create an Outfit</h1>
        <p class = "infobody"> Create customized outfits enhanced by our suggestions in seconds.</p>
      </div>
      <div class = "infosection infoleft">
        <h1 class = "infohead">Get Suggestions</h1>
        <p class = "infobody">Receive multiple outfit suggestions based on the weather or event you are attending.</p>
      </div>
    </div>
  </div>
  <div id = "homeinfobar">
    <div class = "homeinfoback"></div>
    <h1 class = "infoparahead">Technology. Fashion. Shopping. </h1>
    <p class = "infopara" id = "infolightbox">Demere is combining these three areas to help save you time, money, and energy when getting dressed and shopping. By using proprietary image recognition capabilities we can suggest what you should wear based on items in your closet and ways to enhance your wardrobe. All this within seconds of logging onto our platform. We are so excited to help you get dressed on a daily basis!</p>
    <button class = "infomodal" data-featherlight = "#infolightbox"> Learn more! </button>
  </div>
  <div id = "signupbar">
    <button id = "sign-up-button">Sign up!</button>
  </div>
  <div id = "footer">
    <div class = "footer-contact">
      <p class = "footer-contact-head footer-link"> Want to get in touch with us? </p>
      <p class = "footer-link">(202) 735 1541</p>
      <a class = "footer-link" href="mailto:team@demere.co">team@demere.co</a>
    </div>
    <div class = "footer-social">
      <a href = "https://www.facebook.com/demereapp?_rdr=p" class = "fb" target="_blank"></a>
      <a href = "https://twitter.com/demereapp" class = "twit" target="_blank"></a>
    </div>
    <p class="copyright text-muted small">Copyright &copy; Demere 2015</p>
  </div>
</div>
